* {
  margin: 0;
  box-sizing: border-box;
}

/* WebKit Scroll */

::-webkit-scrollbar {
  display: none;
}

/* Colors */

:root {
  --white: #ffffff;
  --black: #000000;
  --navbarBackgroundColor: #232536;
  --footerBackgroundColor: #232536;
  --footerMiddleSectionColor: rgba(255, 255, 510, 0.05);
  --footerInputColor: #4c4c4c;
  --footerBtnColor: #ffd050;
  --bannerInfoSubHeadingColor: #ffd050;
  --bannerBtnColor: #ffd050;
  --featuresBackgroundSectionColor: #e5e5e5;
  --featurePostHeadingColor: #232536;
  --featuresPostBorderColor: #6d6e761a;
  --featurePostDescColor: #4c4c4c;
  --featurePostSubDescColor: #592ea9;
  --featuresInfoDescColor: #232536;
  --featuresInfoDescTwoColor: #6d6e76;
  --featuresPostFitleInfoHeadingColor: #232536;
  --featuresPostTitleDescColor: #592ea9;
  --aboutDescriptionBlockColor: #f4f0f8;
  --aboutLeftHeadingColor: #232536;
  --aboutLeftDescBottomColor: #6d6e76;
  --aboutLeftReadMoreColor: #592ea9;
  --aboutRightDescColor: #232536;
  --aboutLeftDescBottomColor: #6d6e76;
}

/* Sen Font Family */

@font-face {
  font-family: 'SenRegular';
  src: url('assets/Fonts/Sen-Regular.ttf');
}

@font-face {
  font-family: 'SenBold';
  src: url('assets/Fonts/Sen-Bold.ttf');
}

@font-face {
  font-family: 'SenExtraBold';
  src: url('assets/Fonts/Sen-ExtraBold.ttf');
}

/* Inter Font Family */

@font-face {
  font-family: 'Inter';
  src: url('assets/Fonts/Inter-VariableFont_slnt\,wght.ttf');
}
